body { font-family: Arial; margin: 20px; background-color: #f2f2f2; }
form { background: #fff; padding: 20px; border-radius: 8px; max-width: 700px; }
input { margin: 5px 0; padding: 5px; }
h1,h2,h3 { color: #2c3e50; }
img { max-width: 100%; margin: 10px 0; }
